#blue img{
	width: 200px;
	margin: auto;
	display: block;
}

textarea{
	/*min-height:100px;
	min-width:300px;
	max-height:100px;
	max-width:300px;*/
	max-width: 555px;
	max-height: 94px;
}
/*#vol_supp1{
	display: none;
}
#vol_supp2{
	display: none;
}
#immat_supp{
	display: none;
}*/

#vol_supp1, #vol_supp2, #immat_supp, .cache, .poste_hidden_cdb, .poste_hidden_opl, .obs_hidden, .obs_hidden2, .inst_hidden{
	display: none;
}
